@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

:root {
   --green: #00FF7F;
   --red:#e74c3c;
   --orange:#f39c12;
   --black:#34495e;
   --light-bg:#f5f5f5;
   --light-color:#999;
   --light1:#bdbdbd;
   --border:.2rem solid var(--black);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

* {
   font-family: 'poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   text-decoration: none;
   outline: none; border:none;
}

*::selection {
   color: #fff;
   background-color: var(--green);
}

::-webkit-scrollbar {
   width: 1.5rem;
   height: .5rem;
}

::-webkit-scrollbar-track {
  background-color: none;
}

::-webkit-scrollbar-thumb {
   background-color: var(--green);
}

html {
   font-size: 62.5%;
   overflow-x: hidden;
}

body {
   background-color: var(--light-bg);
}

section {
   max-width: 1200px;
   margin:0 auto;
   padding:2rem;
}

.btn,
.delete-btn,
.option-btn {
   display: block;
   margin-top: 1rem;
   border-radius: .5rem;
   cursor: pointer;
   width: 100%;
   font-size: 1.8rem;
   color: #fff;
   padding:1.2rem 3rem;
   text-transform: capitalize;
   text-align: center;
}

.btn {
   background-color: var(--green);
}

.delete-btn {
   background-color: var(--red);
}

.option-btn {
   background-color: var(--orange);
}

.btn:hover,
.delete-btn:hover,
.option-btn:hover {
   background-color: #00ff59;
}

.flex-btn {
   display: flex;
   gap:1rem;
}

.heading {
   text-align: center;
   margin-bottom: 2rem;
   text-transform: capitalize;
   color:var(--black);
   font-size: 3rem;
}

#message_box {
   position: fixed;
   bottom: 30px;
   right: 30px;
   display: flex;
   align-items: flex-start;
   flex-direction: column;
   overflow: hidden;
   padding: 20px;
   z-index: 10001;
   pointer-events: none;
   
   .message {
      width: 400px;
      height: 80px;
      background-color: #fff;
      padding-right: 5px;
      font-size: 15px;
      font-weight: 500;
      margin: 15px 0;
      box-shadow: var(--box-shadow);
      display: flex;
      align-items: center;
      position: relative;
      transform: translateX(100%);
      animation: moveLeft .5s linear forwards;
      -webkit-user-select: none; 
      -moz-user-select: none; 
      -ms-user-select: none; 
      user-select: none;

      &::after {
         content: '';
         position: absolute;
         left: 0;
         bottom: 0;
         width: 100%;
         height: 5px;
         animation: anim 5s linear forwards;
      }

      i {
         margin: 0 20px;
         font-size: 35px;
      }
      
      .fa-check-circle {
         color: green;
      }

      .fa-xmark-circle {
         color: red;
      }
   }

   .success::after {
      background-color: green;
   }

   .error::after {
      background-color: red;
   }
}
@keyframes anim {
   100% {
       width: 0;
   }
}
@keyframes moveLeft {
  100% {
       transform: translateX(0);
  } 
}

.header {
   position: sticky;
   top:0; left:0; right:0;
   background-color:  #fff;
   box-shadow: var(--box-shadow);
   z-index: 1000;
   border-bottom: var(--border);

   .flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;

      .logo {
         font-size: 2.5rem;
         color:var(--black);

         span {
            color: var(--green);
         }
      }

      .navbar {
         a {
            margin:0 1rem;
            font-size: 2rem;
            color:var(--light-color);
            padding: .3rem 1.2rem;
            border-radius: 4rem;
            text-transform: capitalize;

            &:not(.selected):hover {
               color:var(--green);
            }
         }

         .selected {
            color: #fff;
            background: var(--green);
         }
      } 

      .icons > * {
         font-size: 2.5rem;
         cursor: pointer;
         color:var(--light-color);
         margin-left: 1.7rem;

         &:hover {
            color:var(--green);
         }
      }
   }

   .profile {
      position: absolute;
      top:125%; right:2rem;
      background-color:  #fff;
      box-shadow: var(--box-shadow);
      border:var(--border);
      border-radius: .5rem;
      padding:2rem;
      padding-top: 1rem;
      width: 30rem;
      display: none;
      animation: fadeIn .2s linear;

      p {
         text-transform: capitalize;
         margin-bottom: 1rem;
         font-size: 2rem;
         text-align: center;
         color:var(--black);
      }

      &.active {
         display: inline-block;
      }
   }
}

@keyframes fadeIn {
   0% {
      transform: translateY(1rem);
   }
}

#menu-btn {
   display: none;
}

.box-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
   gap:1rem;
   align-items: flex-start;

   .box {
      text-align: center;
      background-color:  #fff;
      border:var(--border);
      box-shadow: var(--box-shadow);
      border-radius: .5rem;
      text-align: center;
      padding:1.5rem;

      h3 {
         font-size: 2.7rem;
         color:var(--black);

         span {
            font-size: 2rem;
         }
      }

      p {
         padding:1.5rem;
         border-radius: .5rem;
         background-color: var(--light-bg);
         border-radius: .5rem;
         font-size: 1.8rem;
         border:var(--border);
         margin:1rem 0;
         color:var(--light-color);
      }
      
      a {
      	white-space: nowrap;
      	font-size: 1.6rem;
      }
   }
}

.form-container {
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   
   form {
      background-color:  #fff;
      border-radius: .5rem;
      border:var(--border);
      box-shadow: var(--box-shadow);
      padding:2rem;
      text-align: center;
      width: 50rem;
      
      .label-container {
      	text-align: start;
      
      	label {
	      	color: var(--black);
	      	font-size: 2rem;
      	}
      }

      h3 {
         font-size: 2.5rem;
         color:var(--black);
         text-transform: capitalize;
         margin-bottom: 1rem;
      }

      p {
         margin:1rem 0;
         font-size: 2rem;
         color:var(--light-color);
      }
      
      .fare-calculated {
      	text-align: start;
      	border: var(--border);
      	padding-left: 10px;
      	border-radius: 5px;
      	
	    p {
	   		font-size: 2rem;
	   		color: var(--green);
	   		font-weight: bold;
	   		margin-bottom: 10px;
	   		
	   		span {
	   			text-transform: capitalize;
	   			color: var(--black);
	   			font-weight: 500;
	   		}
	   	}
      }

      .box {
         width: 100%;
         background-color: var(--light-bg);
         padding:1.4rem;
         font-size: 1.4rem;
         color:var(--black);
         margin:1rem 0;
         border:var(--border);
         font-size: 1.8rem;
         border-radius: .5rem;
         
         &.disabled {
         	background-color: var(--light-bg); 
		    color: var(light1); 
		    border: none;
		    cursor: not-allowed; 
		    opacity: 0.6; 
		    pointer-events: none; 
         }

         &.username::placeholder {
            text-transform: capitalize;
         }
      }
   }
   .form-container form p{
      margin:1rem 0;
      font-size: 2rem;
      color:var(--light-color);
   }
}

.table-container {
   width: 100%; 
   
   h1 {
      font-size: 3rem;
      text-align: center;
      margin-bottom: .5rem;
   }
   
   .table {
      max-height: 400px; 
      overflow-y: auto;
      border: 1px solid #ddd; 
   }

   table {
      width: 100%;
      border-collapse: collapse; 
   }

   th, td {
      font-size: 2rem;
      text-align: center;
   }
   
   td {
      text-transform: capitalize;
   }

   th {
      background-color: var(--light-color);
   }

   .heading th {
      background-color: var(--green);
      color: #fff;
      position: sticky;
      top: 0;
   }

   tr:not(.heading) {
      &:nth-child(even) {
         background-color: gainsboro;
      }
      &:nth-child(odd) {
         background-color: #f2f2f2;
      }
      
      div {
      	display: flex;
      	align-items: center;
      	justify-content: center;
      	gap: 2rem;
      	
      	& > a {
      		color: var(--green);
      	}
      	
      	a, button {
      		font-size: 3rem;
      		
      		&:hover {
      			color: var(--black);
      		}
      	}
      	
      	button {
      		color: var(--red);
      		background: transparent;
      		cursor: pointer;
      	}
      }
   }
}

.booking-container {
	display: grid;
    grid-template-columns: repeat(auto-fit, 37rem);
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
    
    .booking {
    	padding: 1rem;
    	border-radius: 4px;
    	background-color: #fff;
    	border: var(--border);
    	
    	p {
    		font-size: 1.5rem;
    		color: var(--green);
    		font-weight: bold;
    		margin-bottom: 10px;
    		
    		span {
    			text-transform: capitalize;
    			color: var(--black);
    			font-weight: 500;
    		}
    	}
    }
}







/* <media queries>  */
@media (max-width:1100px) {

   html {
      font-size: 60%;
   }

}
@media (max-width:1050px) {

   html {
      font-size: 55%;
   }

}
@media (max-width:970px) {

   html {
      font-size: 50%;
   }
}

@media (max-width:880px) {

   #menu-btn {
      display: inline-block;
   }

   .header .flex .navbar {
      position: absolute;
      top:99%; left:0; right:0;
      border-top: var(--border);
      border-bottom: var(--border);
      background-color:  #fff;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      transition: .2s linear;
   }

   .header .flex .navbar.active {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   }

   .header .flex .navbar a {
      text-align: center;
      display: block;
      margin:2rem;
   }
}

@media (max-width:770px) {
	
}

@media (max-width:670px) {
   #toast_box {
      .toast {
         width: 300px;
         height: 60px;
         font-size: 12px;

         i {
            margin: 0 15px;
         }
      }
   }
}

@media (max-width:600px) {
   .table-container {
      table {
         td {
            padding: 0;
         }
      }
   }
}

@media (max-width:450px) {
   html {
      font-size: 50%;
   }
}

@media (max-width: 400px) {
   #toast_box {
      bottom: 10px;
      right: 10px;

      .toast {
         width: 200px;
         height: 40px;
         font-size: 10px;

         i {
            margin: 0 8px;
            font-size: 20px;
         }
      }
   }
}
